@import "~taro-ui/dist/style/components/flex.scss";

.flower01{
  background: url(https://image-cdn-flare.qdm.cloud/q5633252f90302/image/cache/data/2016/04/14/a4a14c4086734ef65574fe0da0c4fa76-max-w-1024.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}
